<div class="resume-info">
    <h3 class="mat-display-3">Resume</h3>
    <h4 class="mat-h3">I'm currently based on Krakow - PL and looking for some job oportunities in EU, UK and also in Canada, willing to realocate to any of those locations if needed. I'm looking for Developer roles on any of the background skills that I have, either as a Fullstack .NET developer, Web developer using Angular or React or Unity game developer, so if you have some project or role don't hesitate on contacting me!</h4>
    <a href="../../assets/Curriculum - Arthuro Verissimo.pdf">
        <fa-icon [icon]="['fas','file']" class="icon" size="3x"></fa-icon>
        <p class="mat-diplay-4">Resume</p>
    </a>
</div>
