<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">
<link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">

<div class="about-me">
    <h3 class="mat-display-3">About me</h3>
    <div class="content">
        <div class="technology-stack">
            <div class="icon-section">
                <fa-icon class="icon" [icon]="['fab','unity']" size="3x"></fa-icon>
                <i class="devicon-csharp-plain icon"></i>
            </div>
            <div class="icon-section">
                <fa-icon class="icon" [icon]="['fab','angular']" size="3x"></fa-icon>
                <fa-icon class="icon" [icon]="['fab','node-js']" size="3x"></fa-icon>
                <i class="devicon-cplusplus-plain icon"></i>
            </div>
            <div class="icon-section">
                <fa-icon class="icon" [icon]="['fab','python']" size="3x"></fa-icon>
                <fa-icon class="icon"[icon]="['fab','react']" size="3x"></fa-icon>
            </div>
        </div>
        <div class="text-about">
            <p class="mat-h3">I was born in Brazil, grew up on the South region on a city called Porto Alegre. Attended to Engineering classes at PUCRS university for 4 years and during that time worked as both an IT Support and a Fullstack Software developer. During free time I was learning about game development as it really inspires me and I get really motivated on working on those kind of projects.<br>I really enjoy the game development area as it provide a lot of different challenges to solve problems and it is really inpsiring the idea of creating an entire digital world where people can interact with it. It also helps me a lot on code practicing, good practices and clean coding.</p>
        </div>
    </div>
    <div>
        <p class="mat-h3">I've moved out from Brazil in the second half of 2019 to get a job on the UE as there are better job opportunities than in my home country and, as I have Italian citizenship too it makes easier to work in the whole UE. I've been looking for Developer Roles and while searching I focused on learning new technologies, working on personal projects, studying and practicing at home.</p>
    </div>
</div>