@import '../../arth-theme.scss';

.presentation-main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 5%;
    height: auto;
    flex-wrap: wrap;
}

.imageContainer{
    flex:1;
    min-width: 200px;
}

.backGround{
    background: radial-gradient(circle, $primary 0%, mat-color($arth-theme-primary,700) 100%);
    min-height: auto;
    flex-wrap: wrap;
    padding: 50px 0;
    display: flex;
    align-items: center;
}


.myImage{
    border-radius: 50%;
    border: 5px solid #f5f5f5aa;
    width: 90%;
    height: auto;
}

.presentationText {
    flex:3;
    min-width: 300;
}
.presentationText mat-divider{
    margin-left: 10%;
}
.icon-section {
    color: #FAFAFA;
    display:flex;
    justify-content: center;
}
.mat-h1,.mat-h4, .mat-body{
    color: #FAFAFAFA;
}
nav {
    background-color: mat-color($arth-theme-primary,900);
    text-align: center;
}
