.presentation-main{
    display: grid;
}
img{
    border-radius: 50%;
    //border-color: $primary;
    border-width: 10px;
    max-width: 50%;
    height: auto;
}

mat-grid-tile{
    align-content: center;
}
