<div class="presentation-main">
    <mat-grid-list cols=3>
        <mat-grid-tile class="myImage">
            <img [class.mat-elevation-z9]="true" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/72343143_3118436818229821_6612689235566657536_n.jpg?_nc_cat=111&_nc_ohc=tsypu9HsOcgAX_JoyV5&_nc_ht=scontent-waw1-1.xx&oh=4c8681bdb56655df5b067390e26a128b&oe=5F01B627"/>
        </mat-grid-tile>
        <mat-grid-tile class="myPresentationText" colspan='2'>
            <div>
                <h1>Arthuro  Veríssimo</h1>
                <p>Fullstack Developer | Indie Game Developer</p>
                <p>Hi! I'm a Fullstack Software and Game Developer enthusiast that really enjoy learning new things and challenge myself!</p>
                <p>This is my portfolio, so down below you can see some of my public projects and also some of my published games.</p>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>
