<div class='backGround' >
    <div class="presentation-main" >
        <section class="imageContainer">
            <img [class.mat-elevation-z9]="true" class="myImage" src="https://scontent-waw1-1.xx.fbcdn.net/v/t1.0-9/72343143_3118436818229821_6612689235566657536_n.jpg?_nc_cat=111&_nc_ohc=tsypu9HsOcgAX_JoyV5&_nc_ht=scontent-waw1-1.xx&oh=4c8681bdb56655df5b067390e26a128b&oe=5F01B627"/>
        </section>
        <section class="presentationText">
            <h1 class="mat-h1">Arthuro  Veríssimo</h1>
            <h4 class="mat-h4">Fullstack Developer | Indie Game Developer</h4>
            <p class="mat-body">Hi! I'm a Fullstack Software and Game Developer that really enjoy learning new things and challenge myself!<br>
            This is my portfolio, so down below you can see some of my public projects and also some of my published games.<br></p>
            <p class="mat-body">This portfolio was build using angular, bootstrap and with a help of one nodejs backend that I've developed with NodeJS</p>
            <mat-divider></mat-divider>
            <div class="icon-section">
                <fa-icon class="icon" [icon]="['fab','angular']" size="3x"></fa-icon>
                <fa-icon class="icon" [icon]="['fab','bootstrap']" size="3x"></fa-icon>
                <fa-icon class="icon" [icon]="['fab','node-js']" size="3x"></fa-icon>
            </div>
        </section>
    </div>
</div>
          <nav [class.mat-elevation-z6]="true" class="navbar navbar-expand-lg navbar-dark justify-content-center">
              <div class="navbar-nav navigation">
                  <a *ngFor="let link of links" class="nav-item nav-link" [routerLink]="link.fragment">{{link.title}}</a>
              </div>
          </nav>
          <router-outlet></router-outlet>     
          
