@import '../../arth-theme.scss';
.card-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 10%;
    color: #121212;
    .card{
        flex: 1;
        margin: 10px;
        min-width: 15rem;
        max-width: 15rem;
        padding: 5px;
        background-color: #FAFAFA;
        img{
            width: 100%;
            height:auto;
        }
        a{
            color: mat-color($arth-theme-accent,600);
            background-color: transparent;
            border-color: transparent;
        }
    }
}
.card-body {
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.page-introduction{
    display: flex;
    flex-direction: column;
    margin: 0 10%;
    justify-content: center;
    text-align: center;
}

.mat-divider{
    display: block;
    color:#121212;
    inset: "true";
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #12121212;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.icon{
    align-items: center;
}

.mat-display-3, .mat-h3{
    margin-top: 2%;
    color: #121212
}

.spinner {
    align-items: center;
    display: flex;
    justify-content: center;
}