<div class="contact">
    <h3 class="mat-display-3">Contact</h3>
    <p class="mat-h3">Here is my contact section, you can find link for my social media such as Linkedin, instagram and e-mail. Don't hesitate to contact me if you have some project or role to discuss about!</p>
    <p class="mat-h3">arthurobdfv@gmail.com</p>
    <a (click)="openLink('https://www.linkedin.com/in/arthuro-verissimo')">
        <fa-icon class="icon" [icon]="['fab','linkedin']" size="3x"></fa-icon>
    </a>
    <a (click)="openLink('https://www.instagram.com/arthdevlife/')">
        <fa-icon class="icon" [icon]="['fab','instagram']" size="3x"></fa-icon>
    </a>
</div>


