.project-display{
    display: flex;
    justify-content: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.inverted{
    flex-direction: row-reverse;
}

.project-image-display{
    flex:1;
}


.project-infos-display{
    flex:2;
    padding-left: 10%;
    align-content: center;
}

img{
    border-radius: 15%;
    max-width: 100%;
    height: auto;
    resize: both;
}

.mat-divider{
    width: 80%;    
}

.mat-display-3{
    text-align: center;
    margin-top: 2%;
}

