.project-display{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 5%;
}
.inverted{
    flex-direction: row-reverse;
}

.inverted .project-infos-display{
    padding-left: 0;
    padding-right: 10%;
}

.project-image-display{
    flex:2;
    width: 100%;
    height:auto;
    overflow: hidden;
}

.iconSection{
    display:flex;
    height:auto;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.projectImage{
    background: linear-gradient(transparent,white);
}

:hover.iconSection a:hover{
    cursor: pointer;
}


.project-infos-display{
    flex:3;
    padding-left: 10%;
    text-align: center;
}

img{
    //border-radius: 15%;
    width: 100%;
    height: auto;
    resize: both;
}

.mat-divider{
    display: block;
    color:#121212;
    inset: "true";
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #12121212;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.mat-display-3{
    text-align: center;
    margin-top: 2%;
}

.mat-display-3, .mat-display-1, .mat-body-4, .mat-body-1{
    color: #121212;
    white-space: pre-wrap;
}
