@import '../../arth-theme.scss';
.project-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 50px;

    &:nth-child(even){
        flex-direction:row-reverse;
    }
}


.project-image-display{
    flex:2;
    width: 100%;
    height:auto;
    overflow: hidden;
    min-width: 300px;
    //background-color: #FAFAFA;
    
}

.iconSection{
    display:flex;
    height:auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    color: mat-color($arth-theme-accent,700);
    a:hover{
        transition: 0.3s;
        cursor: pointer;
        color: darken(mat-color($arth-theme-accent,700), 10%);      
    }
}

.projectImage{
    background: linear-gradient(transparent,white);
}


.project-infos-display{
    flex:3;
    margin: 0 5%;
    text-align: center;
}

img{
    //border-radius: 15%;
    width: 100%;
    height: auto;
    resize: both;
}

.mat-divider{
    display: block;
    inset: "true";
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #12121212;
    width: 80%;
    margin-left: 10%;
    padding-bottom: 10px;
}

.mat-display-3{
    text-align: center;
    margin-top: 2%;
    color: #121212
}

.mat-display-3, .mat-display-1, .mat-body-4, .mat-body-1, .mat-h1{
    color: #121212;
    white-space: pre-wrap;
}

.icon{
    color: mat-color($arth-theme-accent,800);
}